.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 20px;
}

@media (width >= 640px) {
  .container {
    padding-inline: 35px;
  }
}

@media (width >= 1200px) {
  .container {
    padding-inline: 55px;
  }
}

body {
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 300px;
  font-size: 16px;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

@media (width >= 640px) {
  .header {
    flex-direction: row-reverse;
    display: flex;
  }
}

.header__top {
  background-image: url("background-image-mob.ea0d3e41.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

@media (width >= 640px) {
  .header__top {
    height: 386px;
    margin-bottom: 0;
  }
}

@media (width >= 1200px) {
  .header__top {
    height: 655px;
  }
}

.header__bottom {
  margin-bottom: 70px;
  position: relative;
}

@media (width >= 640px) {
  .header__bottom {
    margin-bottom: 20px;
    padding-top: 39px;
  }
}

.header__element {
  color: #687480;
  margin-top: 70px;
  font-weight: 700;
  display: none;
  position: absolute;
  transform: rotate(-90deg);
}

.header__element:before {
  content: "";
  background-color: #1a5a4c;
  width: 71px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -90px;
}

@media (width >= 1200px) {
  .header__element {
    display: inline-block;
  }
}

.header__inner {
  align-items: center;
  padding-top: 9px;
  display: flex;
}

@media (width >= 640px) {
  .header__inner {
    padding-top: 15px;
  }
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

@media (width >= 640px) {
  .header__title {
    text-align: left;
    margin-bottom: 42px;
    font-size: 54px;
    line-height: 1.2;
  }
}

@media (width >= 1200px) {
  .header__title {
    margin-bottom: 89px;
    font-size: 72px;
  }
}

.icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: block;
}

.icon--menu {
  background-image: url("baseline-menu.fca75cf9.svg");
}

@media (width >= 640px) {
  .icon--menu {
    display: none;
  }
}

.icon--menu--tablet {
  background-image: url("baseline-menu.fca75cf9.svg");
  display: none;
}

@media (width >= 640px) {
  .icon--menu--tablet {
    margin-bottom: 34px;
    display: block;
  }
}

@media (width >= 1200px) {
  .icon--menu--tablet {
    margin-bottom: 143px;
    display: block;
  }
}

.logo {
  background-image: url("logo.cd13699a.svg");
  background-repeat: no-repeat;
  width: 55px;
  height: 61px;
  margin: 0 auto;
}

@media (width >= 640px) {
  .logo {
    background-size: contain;
    width: 80px;
    height: 72px;
    margin: 0;
  }
}

.button {
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #1a5a4c;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 18px 80px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  transition: all .3s;
  display: block;
  position: relative;
}

@media (width >= 640px) {
  .button {
    text-align: left;
    width: 270px;
    height: 70px;
    padding: 27px 68px;
  }
}

@media (width >= 1200px) {
  .button {
    margin-left: auto;
    transition: background-color .3s;
  }

  .button:hover {
    background-color: #80808030;
  }
}

.button:after {
  content: ">";
  color: #fff;
  background-color: #1a5a4c;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: -50px;
  display: flex;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

@media (width >= 640px) {
  .button:after {
    width: 70px;
    height: 70px;
    padding: 25px 0;
  }
}

.page__menu {
  z-index: 2;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menu {
  color: #fff;
  opacity: 0;
  pointer-events: none;
  background-color: #808080a1;
  transition: all .3s;
  transform: translateX(-100%);
}

.menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

@media (width >= 640px) {
  .menu__inner {
    justify-content: center;
    column-gap: 38px;
    display: flex;
  }
}

@media (width >= 1200px) {
  .menu__inner {
    column-gap: 102px;
  }
}

.menu__box {
  background-color: #1a5a4c;
  padding: 27px 20px;
}

@media (width >= 640px) {
  .menu__box {
    padding: 39px 35px;
  }
}

@media (width >= 1200px) {
  .menu__box {
    padding: 39px 55px;
  }
}

.menu__top {
  border-bottom: 1px solid #fff;
  gap: 28px;
  margin-bottom: 24px;
  display: flex;
}

@media (width >= 640px) {
  .menu__top {
    border-bottom: none;
    border-right: 1px solid #fff;
  }
}

@media (width >= 1200px) {
  .menu__top {
    column-gap: 102px;
  }
}

.menu__navigation {
  gap: 28px;
  display: flex;
}

@media (width >= 640px) {
  .menu__navigation {
    margin-right: 38px;
  }
}

@media (width >= 1200px) {
  .menu__navigation {
    gap: 50px;
    margin-right: 102px;
  }
}

.icon--close-menu {
  background-image: url("menu-close.87164f40.svg");
}

@media (width >= 640px) {
  .icon--close-menu {
    position: absolute;
    top: 39px;
    left: 34px;
  }
}

@media (width >= 1200px) {
  .icon--close-menu {
    left: 55px;
  }
}

.navigation__item {
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 1;
}

@media (width >= 1200px) {
  .navigation__link {
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
  }

  .navigation__link:after {
    content: "";
    transform-origin: 0;
    background-color: #fff;
    width: 100%;
    height: 1px;
    transition: transform .3s;
    display: block;
    position: absolute;
    bottom: -4px;
    transform: scaleX(0);
  }

  .navigation__link:hover:after {
    transform: scaleX(1);
  }
}

.navigation__link--footer:after {
  background-color: #000;
}

.schedule {
  font-size: 14px;
}

.schedule__info {
  margin-bottom: 16px;
}

.schedule__title {
  margin-bottom: 20px;
}

@media (width >= 640px) {
  .schedule__content {
    justify-content: space-between;
    column-gap: 26px;
    display: flex;
  }

  .schedule__additional-info {
    align-self: flex-start;
    max-width: 144px;
    margin-top: 11%;
  }
}

@media (width >= 1200px) {
  .schedule__additional-info {
    max-width: 220px;
  }
}

.main__events {
  margin-top: 88px;
}

.events__title {
  text-align: center;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

@media (width >= 640px) {
  .events__title {
    text-align: left;
    margin-bottom: 48px;
    font-size: 48px;
  }
}

@media (width >= 1200px) {
  .events__title {
    margin-bottom: 56px;
  }
}

.card__block {
  margin-bottom: 60px;
}

@media (width >= 640px) {
  .card__block {
    margin-bottom: 64px;
  }
}

@media (width >= 1200px) {
  .card__block {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
    display: flex;
  }
}

.card__image {
  margin-bottom: 20px;
  padding-bottom: 75%;
  position: relative;
}

@media (width >= 640px) {
  .card__image {
    margin-bottom: 44px;
  }
}

@media (width >= 1200px) {
  .card__image {
    flex: 0 0 57%;
    padding-bottom: 39%;
    overflow: hidden;
  }
}

.card__image img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (width >= 1200px) {
  .card__image img {
    transition: transform .3s;
  }

  .card__image img:hover {
    transform: scale(1.05);
  }
}

.card__info {
  justify-content: space-between;
  margin-bottom: 15px;
  display: flex;
}

@media (width >= 640px) {
  .card__info {
    justify-content: flex-start;
    gap: 27px;
    margin-bottom: 32px;
    font-size: 14px;
  }
}

@media (width >= 1200px) {
  .card__description {
    flex: 0 0 32%;
  }
}

.card__text {
  text-transform: uppercase;
  color: #687480;
  font-weight: 500;
}

.card__date {
  color: #1a5a4c;
  font-weight: 700;
}

.card__title {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}

@media (width >= 640px) {
  .card__title {
    margin-bottom: 15px;
    font-size: 36px;
  }
}

.card__title span {
  position: relative;
}

.card__title span:after {
  content: "";
  background-color: #f14a27;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 42%;
  right: -8%;
}

.card__subtitle {
  color: #4e4e4e;
}

.main__lection {
  background-position: 50%;
  min-height: 300px;
  margin-bottom: 183px;
  position: relative;
}

@media (width >= 640px) {
  .main__lection {
    min-height: 390px;
    margin: 0 34px 208px;
  }
}

@media (width >= 1200px) {
  .main__lection {
    min-height: 550px;
    margin: 0 0 302px;
  }
}

.lection {
  background-image: url("picture.5a9b4031.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.lection__content {
  background-color: #fff;
  border-bottom: 2px solid #687480;
  padding-top: 24px;
  padding-bottom: 20px;
  position: absolute;
  top: 80%;
  left: 20px;
  right: 20px;
}

@media (width >= 640px) {
  .lection__content {
    margin-inline: 45px;
    padding: 45px 55px 50px;
  }
}

@media (width >= 1200px) {
  .lection__content {
    margin-inline: 28%;
    padding: 45px 90px 50px;
    display: inline;
  }
}

.lection__info {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

@media (width >= 640px) {
  .lection__info {
    justify-content: flex-start;
    gap: 140px;
  }
}

.lection__text {
  color: #687480;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 500;
  line-height: 1;
}

.lection__date {
  color: #1a5a4c;
  font-weight: 700;
}

.lection__title {
  color: #000;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}

@media (width >= 640px) {
  .lection__title {
    text-align: start;
    max-width: 460px;
    font-size: 36px;
  }
}

.main__gallery {
  margin-bottom: 100px;
}

.gallery__title {
  text-align: center;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

@media (width >= 640px) {
  .gallery__title {
    text-align: left;
    font-size: 48px;
  }
}

.gallery__block {
  display: none;
}

@media (width >= 1200px) {
  .gallery__block {
    --columns: 2;
    column-gap: 20px;
    display: grid;
  }
}

@media (width >= 1200px) and (width >= 640px) {
  .gallery__block {
    --columns: 6;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (width >= 1200px) and (width >= 1200px) {
  .gallery__block {
    --columns: 12;
    --rows: 2;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 30px;
  }
}

@media (width >= 1200px) {
  .gallery__photo {
    padding-bottom: 71%;
    position: relative;
    overflow: hidden;
  }

  .gallery__photo:first-child {
    grid-area: 1 / span 4 / 2;
  }

  .gallery__photo:nth-child(2) {
    grid-area: 1 / 5 / 2 / -1;
  }

  .gallery__photo:nth-child(3) {
    grid-area: -1 / 1 / -2 / 9;
  }

  .gallery__photo:nth-child(4) {
    grid-area: -1 / -1 / -2 / -5;
  }

  .gallery__photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .gallery__photo img:hover {
    transform: scale(1.05);
  }
}

.swiper {
  align-items: center;
  width: 280px;
  height: 540px;
  margin: 0 auto;
  display: flex;
}

@media (width >= 640px) {
  .swiper {
    align-self: center;
    width: 100%;
    height: 583px;
  }
}

@media (width >= 1200px) {
  .swiper {
    display: none;
  }
}

.swiper-slide {
  padding-bottom: 65%;
  position: relative;
}

@media (width >= 640px) {
  .swiper-slide {
    flex: 0 0 45%;
    width: 100%;
    height: 100%;
  }
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

:root {
  --swiper-theme-color: green;
}

@media (width >= 1024px) {
  .swiper-slide {
    flex: 0 0 30%;
  }
}

.main__subscription {
  height: 386px;
  padding: 88px 0;
}

@media (width >= 640px) {
  .main__subscription {
    padding: 82px 0;
  }
}

@media (width >= 1200px) {
  .main__subscription {
    height: 550px;
  }
}

.subscription {
  background-image: url("image.3fdcbe66.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription__title {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

@media (width >= 640px) {
  .subscription__title {
    font-size: 48px;
  }
}

.subscription__text {
  color: #fff;
  text-align: center;
  margin: 0 auto 50px;
  font-size: 18px;
  font-weight: 400;
}

.subscription__form {
  position: relative;
}

@media (width >= 640px) {
  .subscription__form {
    width: 446px;
    margin: 0 auto;
  }
}

.subscription__input {
  width: 100%;
  height: 50px;
  padding: 18px 24px;
}

@media (width >= 640px) {
  .subscription__input {
    width: 374px;
    height: 70px;
  }
}

.subscription__btn {
  background-color: #f14a27;
  width: 50px;
  height: 100%;
  transition: all .3s;
  position: absolute;
  right: 0%;
}

@media (width >= 1200px) {
  .subscription__btn {
    transition: background-color .3s;
  }

  .subscription__btn:hover {
    background-color: #ff9900fc;
  }
}

@media (width >= 640px) {
  .subscription__btn {
    width: 70px;
    right: -3%;
  }
}

.subscription__btn:after {
  content: ">";
  font-weight: 700;
}

.footer {
  padding: 50px 0;
}

@media (width >= 1200px) {
  .footer__content {
    display: flex;
  }
}

@media (width >= 640px) {
  .footer__info {
    column-gap: 40px;
    display: flex;
  }
}

@media (width >= 1200px) {
  .footer__info {
    column-gap: 130px;
  }
}

.footer__logo-and-social {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

@media (width >= 640px) {
  .footer__logo-and-social {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 62px;
  }
}

.footer__schedule-and-contacts {
  border-bottom: 1px solid #1a5a4c;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  column-gap: 20px;
  padding-bottom: 20px;
  display: grid;
}

@media (width >= 640px) {
  .footer__schedule-and-contacts {
    column-gap: 40px;
    padding-bottom: 64px;
  }
}

@media (width >= 1200px) {
  .footer__schedule-and-contacts {
    border-bottom: none;
    border-right: 1px solid #1a5a4c;
    column-gap: 10px;
    margin-bottom: 87px;
    padding-bottom: 0;
    padding-right: 65px;
    display: flex;
  }
}

.footer__button {
  border: 1px solid #1a5a4c;
  border-radius: 50%;
  grid-column: 2;
  justify-self: end;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
}

@media (width >= 640px) {
  .footer__button {
    display: none;
  }
}

.footer__arrow-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__navigation {
  gap: 28px;
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
}

@media (width >= 640px) {
  .footer__navigation {
    column-gap: 145px;
    margin-top: 64px;
    margin-left: 111px;
  }
}

@media (width >= 1200px) {
  .footer__navigation {
    gap: 65px;
    margin: 0;
    padding-left: 65px;
  }
}

.footer__bottom {
  text-align: center;
}

@media (width >= 640px) {
  .footer__bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
  }
}

.social {
  gap: 14px;
  display: flex;
}

.social__facebook {
  border: 1px solid #0000;
  border-radius: 5px;
  padding: 2px;
  transition: border .3s;
  display: inline-block;
}

.social__facebook:hover {
  border: 1px solid #000;
}

@media (width >= 640px) {
  .schedule__info {
    margin: 0;
  }
}

.schedule__list {
  margin-bottom: 22px;
}

.contacts {
  font-size: 14px;
}

@media (width >= 1200px) {
  .contacts {
    max-width: 175px;
  }

  .contacts__link {
    transition: all .3s;
  }

  .contacts__link:hover {
    background-color: #b5592833;
    border-radius: 5px;
  }
}

.contacts__title {
  margin-bottom: 20px;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
